.project-container {
	grid-template-columns: repeat(4, 1fr);
	display: grid;
	gap: 10px;
}

.project-container > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--custom-white);
	padding: 10px;
	border-radius: 10px;
	border: 1px solid var(--custom-black);
}

.project-container img {
	height: 100px;
	aspect-ratio: 3/2;
	object-fit: cover;
}

.project-container h4 {
	padding-bottom: 10px;
	text-align: center;
}

.project-container p,
a {
	font-size: 16px;
}

.project-container p {
	padding-top: 10px;
	text-align: center;
}

.about-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.about-container p,
.about-container h2 {
	text-align: center;
	width: 100%;
}

.about-container img {
	height: 300px;
	width: 100%;
}

@media (max-width: 920px) {
	.project-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 650px) {
	.about-container {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 400px) {
	.project-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
