:root {
	--custom-green: #d6dc82;
	--custom-white: #fcf9f6;
	--custom-black: #262628;
	--custom-purple: #cecbec;
	--custom-yellow: #ffed87;
}

* {
	margin: 0;
	padding-left: 0;
	box-sizing: border-box;
}

body {
	padding-top: 70px;
	min-height: 100vh;
	background-color: var(--custom-green);
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', serif;
	cursor: url(/images/drawings/bee.png), auto;
}

a {
	text-decoration: none;
	color: var(--custom-black);
}

h2 {
	text-align: center;
	padding-bottom: 20px;
}

p {
	font-family: 'quicksand';
	line-height: 1.6;
}

main {
	flex-grow: 1;
	width: 100%;
}

.section-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

#Hero {
	min-height: 60vh;
	align-items: center;
	display: flex;
}

#Hero img {
	object-fit: contain;
	width: 100%;
}

#About {
	text-align: center;
	background-color: var(--custom-yellow);
	border-top: 1px solid var(--custom-black);
	border-bottom: 1px solid var(--custom-black);
}

#Projects {
	background-color: var(--custom-purple);
	border-bottom: 1px solid var(--custom-black);
}

.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.button {
	background-color: var(--custom-yellow);
	color: var(--custom-black);
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid var(--custom-black);
	border-radius: 100vmax;
	transition: background-color 0.2s ease-in, color 0.2s ease-in;
	text-decoration: none;
}

.button:hover {
	background-color: var(--custom-black);
	color: var(--custom-white);
}

blockquote {
	padding-top: 10px;
	height: 90px;
}

footer {
	flex-shrink: 0;
	width: 100%;
	min-height: 50px;
	background-color: var(--custom-green);
	background-image: url(/images/drawings/tulips.png);
	background-repeat: repeat-x;
	background-position: bottom;
	text-align: center;
}

@media (max-width: 510px) {
	footer {
		font-size: 12.5px;
	}
}
